<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from rtl-temp.ir/Theme/Zinzer/vertical-rtl/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jun 2019 05:42:14 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>زینزر - داشبورد ادمین بوت استرپ 4</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/Areas/Admin/panel/images/favicon.ico">
    <!-- morris css -->
    <link rel="stylesheet" href="~/Areas/Admin/plugins/morris/morris.css">
    <link href="~/Areas/Admin/panel/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/panel/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/panel/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="fixed-left">
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <!-- jQuery  -->
    <script src="~/Areas/Admin/panel/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/panel/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/panel/js/modernizr.min.js"></script>
    <script src="~/Areas/Admin/panel/js/detect.js"></script>
    <script src="~/Areas/Admin/panel/js/fastclick.js"></script>
    <script src="~/Areas/Admin/panel/js/jquery.slimscroll.js"></script>
    <script src="~/Areas/Admin/panel/js/jquery.blockUI.js"></script>
    <script src="~/Areas/Admin/panel/js/waves.js"></script>
    <script src="~/Areas/Admin/panel/js/jquery.nicescroll.js"></script>
    <script src="~/Areas/Admin/panel/js/jquery.scrollTo.min.js"></script>
    <!--Morris Chart-->
    <script src="~/Areas/Admin/plugins/morris/morris.min.js"></script>
    <script src="~/Areas/Admin/plugins/raphael/raphael.min.js"></script>
    <!-- dashboard js -->
    <script src="~/Areas/Admin/panel/pages/dashboard.int.js"></script>
    <!-- App js -->
    <script src="~/Areas/Admin/panel/js/app.js"></script>
</body>

<!-- Mirrored from rtl-temp.ir/Theme/Zinzer/vertical-rtl/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jun 2019 05:42:42 GMT -->
</html>
