@model IEnumerable<Alstar.Models.mLink>
@{
    Alstar.Models.database.AlstarDb AlstarDb = new Alstar.Models.database.AlstarDb();
    Alstar.da.daCategory c = new Alstar.da.daCategory();
    decimal vCount;
    decimal vPage;
    int? vId = 0;
    int vType = 0;
}
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title"> </h4>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>تصویر</th>
                            <th>عنوان</th>
                            <th>محل نمایش </th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            vId = item.link_status;
                            <tr id="@item.link_id">
                                <td>
                                    <img width="70" height="70" src="~/images/link/@item.link_img" />
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.link_title)</td>

                                @if (item.link_status == 1)
                                {
                                    <td>
                                        مداراک و افتخارات
                                    </td>
                                }
                                @if (item.link_status == 2)
                                {
                                    <td> برچسب ها</td>
                                }
                                @if (item.link_status == 3)
                                {
                                    <td>  فرم های پیشنهاد بیمه </td>
                                }
                                @if (item.link_status == 4)
                                {
                                    <td> کارکنان شرکت </td>
                                }
                                @if (item.link_status == 5)
                                {
                                    <td>  مشتریان ما </td>
                                }
                                @if (item.link_status == 6)
                                {
                                    <td> pdf محصولات </td>
                                }
                                @if (item.link_status == 7)
                                {
                                    <td> تصاویر اینستاگرام  </td>
                                }

                                <td><a href="~/mLink/LinkGet?pId=@item.link_id" class="btn btn-info icon-preview"><i data-toggle="tooltip" data-placement="right" data-original-title="ویرایش" class="fa fa-pencil"> </i></a></td>
                                <td><input value="@item.link_id" name="radioSelect" type="radio"></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{

                    vCount = (from a in AlstarDb.tbl_link
                              where a.link_status == vId
                              select a).Count();
                    vPage = vCount / 15;


                }
                <div class="col-12" dir="rtl">
                    <div class="pagination-wrap text-center">
                        <ul>
                            @if (c.IsDecimal(vPage))
                            {
                                vPage++;
                            }
                            @for (int i = 1; i <= vPage; i++)
                            {
                                <li><a href="~/mLink/fGetPage?pPageNum=@i&pAction=Index&pType=@vId">@i</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


